{% extends 'base.html' %}
{%load static%}
{%block content%}

<h1>📊 Relatórios</h1>
<div class="container-pai">
    <div class="bloco1">
        <h3>Resumo Financeiro</h3>
        <table>
            <tr class="periodo">
                <td>Hoje ({{ hoje }})</td>
                <td class="total">R$ {{ total_hoje }}</td>
            </tr>
            <tr>
                <td>Esta Semana</td>
                <td class="total">R$ {{ total_semana }}</td>
            </tr>
            <tr class="periodo">
                <td>Mês Atual ({{ mes_atual }}/{{ ano_atual }})</td>
                <td class="total">R$ {{ total_mes }}</td>
            </tr>
            <tr>
                <td>Ano Atual ({{ ano_atual }})</td>
                <td class="total">R$ {{ total_ano }}</td>
            </tr>
        </table>
    </div>
    <div class="bloco2">  
        <h3>Mais Vendidos (Mês Atual)</h3>
        <table>
            <tr>
                <th>Categoria Mais Vendida</th>
                <td>{{ categoria_mais_vendida }}</td>
            </tr>
            <tr>
                <th>Produto Mais Vendido</th>
                <td>{{ produto_mais_vendido }}</td>
            </tr>
        </table>
    </div>
</div>
{%endblock%}
