{% extends 'base.html' %}
{%load static%}
{%block content%}
<h1>Categoria: {{ categoria.nome_categoria }}</h1>
<h2>Descrição: </h2>
<p>{{ categoria.descricao|default:"Sem descrição" }}</p>
<h3>Produtos nesta categoria ({{ categoria.produtos.count }}):</h3>
<ul>
    {% for p in categoria.produtos.all %}
    <li>{{ p.nome_produto }} - R$ {{ p.preco_unitario }}</li>
    {% endfor %}
</ul>
<a class="btn btn-warning" href="{% url 'categoria:editar' categoria.id %}" role="button">Editar</a>
<a class="btn btn-danger" href="{% url 'categoria:deletar' categoria.id %}" role="button">Excluir</a>
<a class="btn btn-secondary" href="{% url 'categoria:listar' %}" role="button">Voltar</a>
{%endblock%}