{% extends 'base.html' %}
{%load static%}

{%block content%}
<div class="body-home"></div>
    <div class="home-dashboard">

        <!-- CARD: NOVO PEDIDO -->
        <a href="{% url 'pedidos:criar' %}" class="home-card home-card-link">
            <h2>+ Novo Pedido</h2>
            <p>Criar um novo pedido no sistema</p>
        </a>

        <!-- CARD: FATURAMENTO -->
        <div class="home-card">
            <h2>Faturamento de Hoje</h2>
            <p class="valor-faturamento">
                R$ {{ faturamento_hoje }}
            </p>
        </div>
    </div>
</div>
{%endblock%}